.newComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0e7ff;
  padding: 20px;
  margin: 20px;
  color: #4338ca;
  border-radius: 8px;
}
label {
  margin-right: 8px;
}
input {
  outline: none;
  padding: 10px 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button{
  background-color: #4338ca;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 14px;
}